.hero {
    background-color: transparent;
    height: 90vh;

    .content-main {
        position: relative;
        display: grid;
        z-index: 10;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3rem;
        padding: 8rem 0;
        color: #fff;

        .profile {
            img {
                z-index: 9;
                height: 75vh;
                width: 45vw;
                object-fit: cover;
            }
        }

        .content-1 {
            display: flex;
            flex-direction: column;
            grid-gap: 1rem;
            padding: 5rem 2rem 0 0;

            h1 {
                width: 40vw;
                font-size: 4rem;

                span {
                    color: #6891a0;
                }
            }

            p {
                width: 40vw;
            }

            .btn-project {
                margin: 1rem 0;

                a {
                    background-color: #5221e6;
                    padding: 1rem 2rem;
                    letter-spacing: 1px;
                    font-weight: 500;
                    font-size: 1.25rem;
                    color: #fff;
                    text-decoration: none;
                    border-radius: 5px;
                    transition: all ease-in-out 0.3s;
                }
                a:hover {
                    background-color: #2b1177;
                }
            }
        }
    }

    .block {
        position: absolute;
        right: 0;
        top: 0;
        background-color: #181822;
        width: 70vw;
        height: 100vh;
        z-index: 9;
    }
}

@media (max-width: 1200px) {
    .hero {
        font-size: 95%;

        .content-main {

            .content-1 {
                h1 {
                    font-size: 3.8rem;
                }
                .btn-project{
                    a{
                        font-size: 1.05rem;
                    }
                }
            }
            
        }
    }
}


@media (max-width: 930px){
    .hero{
        font-size: 90%;
        
        .content-main{
            .profile{
                img{
                    height: 65vh;
                }
            }
            .content-1{
                h1{
                    font-size: 3rem;
                }
                .btn-project{
                    a{
                        font-size: 0.85rem;
                    }
                }
            }
        }

        .block{
            width: 65vw;
        }
    }
}
