
.navbar {
    padding: 0 16rem;
    background-color: white;
    
    .logo {
        text-decoration: none;
        font-size: 1.8rem;
        font-weight: 700;
        color: black;
        letter-spacing: 3px;

        span{
            color: blue;
        }
    }

    .r1 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7rem;
        
        .link {
            display: flex;
            align-items: center;
            margin: auto;
            grid-gap: 2rem;
            list-style: none;

            li {
                font-size: 0.9rem;
                font-weight: 600;

                a {
                    color: #111;
                    text-decoration: none;
                }
                a:hover{
                    color: #1a31da;
                }
            }

            li:nth-child(4){
                margin: auto;
                background-color: #60d170;
                padding: 1.4rem;
                
                a{
                    color: #fff;
                }
                
            }

            .contact:hover{
                background-color: #46a052;
                cursor: pointer;
            }
            
        }
    }
}
