.footer{
    margin: 10rem 0 0;
    background-color: #181823;
    color: #fff;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 3rem;
    
    .logo{
        text-align: center;
        display: flex;
        flex-direction: column;
        grid-gap: 1rem;
    
        h1{
            letter-spacing: 3px;
            font-weight: 600;

            span{
                color: #5221e6;
            }
        }
        h4{
            color: #6891a0;
        }
    }

    .link{
        ul{
            list-style: none;
            display: flex;
            grid-gap: 2.2rem;

            li{
                a{
                   padding: 0.9rem 0.45rem;
                   border-radius: 50%;
                   transition: all 0.25s ease-in-out;
                }
            }

            li:nth-child(1) {
                a{
                    color: #c93131;
                    border: #c93131 2px solid;
                }
                a:hover{
                    background-color: #c93131;
                    color: #fff;
                    box-shadow: 0px 0px 10px 0 #c93131;
                    padding: 1rem 0.55rem;
                    margin: 10px;
                }
            }

            li:nth-child(2) {
                a{
                    color: #777777;
                    border: #777777 2px solid;
                }
                a:hover{
                    background-color: #777777;
                    color: #ffffff;
                    box-shadow: 0px 0px 10px 0 #777777;
                    padding: 1rem 0.55rem;
                    margin: 10px;
                }
            }
            
            li:nth-child(3) {
                a{
                    color: #9e8410;
                    border: #9e8410 2px solid;
                }
                a:hover{
                    background-color: #9e8410;
                    color: #fff;
                    box-shadow: 0px 0px 10px 0 #9e8410;
                    padding: 1rem 0.55rem;
                    margin: 10px;
                }
            }
            li:nth-child(4) {
                a{
                    color: #10a1bb;
                    border: #10a1bb 2px solid;
                }
                a:hover{
                    background-color: #10a1bb;
                    color: #fff;
                    box-shadow: 0px 0px 10px 0 #10a1bb;
                    padding: 1rem 0.55rem;
                    margin: 10px;
                }
            }
        }
    }

    .copyright{
        
        span{
            color: skyblue;
        }
    }
}

@media (max-width: 930px){
    .footer{

        .logo{
            h4{
                font-size: 1.2rem;
            }
        }
    }
}

@media (max-width: 620px) {
    .footer{
        border: 1px solid;

        .logo{
            padding: 0 1rem;
        
            h4{
                font-size: 1rem;
            }
        }

        .copyright{
            font-size: 0.8rem;
        }
    }
}