.experience{
    background-color: #4F4557;
    height: 92vh;
    padding: 9vh 17rem;
    display: grid;
    grid-gap: 1rem;

    .header-name{
        display: flex;
        flex-direction: column;
        grid-gap: 1rem;
        max-width: 100%;
        
        span{
            font-weight: 500;
            font-size: 1.4rem;
            letter-spacing: 0.5rem;
        }
        h1{
            font-weight: 600;
            font-size: clamp(0.5rem, 70vw, 3rem);
            color: #F4EEE0;
            letter-spacing: 1px;
        }
    }
    
    .content{
        display: grid;
        grid-gap: 7rem;
        grid-template-columns: 1fr 1fr;
        z-index: 100;
        place-items: center;
        
        img{
            width: 30rem;
            border-radius: 0% 20% 10% 20% / 10% 20% 0% 20%;
            box-shadow: 10px 9px 0px 1px rgba(0,0,0,0.75);
            border-top: 4px solid black;
            border-left: 4px solid black;
        }
    }

}